:root {
    --primary-color: rgb(245, 245, 245);
    --secondary-color: rgb(230, 230, 230);
}

@font-face {
    font-family: "Source Serif 4";
    src: url("/SourceSerif4.woff2") format("woff2-variations");
    font-weight: 100 900;
}

@font-face {
    font-family: "Source Code Pro";
    src: url("/SourceCodePro.woff2") format("woff2-variations");
    font-weight: 100 900;
}

@media screen and (min-width: 800px) {
    header, main, footer {
        width: 800px;
        margin: auto;
    }
}

body {
    font-family: "Source Serif 4", serif;
    background-color: var(--primary-color);
    margin: 0 10px 10px 10px;
    font-size: 18px;
    line-height: 1.6;
}

code {
    font-family: "Source Code Pro", monospace;
    font-size: 16px;
    display: block;
    background-color: var(--secondary-color);
    padding: 15px;
    overflow: auto;
}

a {
    color: inherit;
}

table {
    overflow: scroll;
}

table, th, td {
    border: 1px solid grey;
    border-collapse: collapse;
}

th, td {
    padding: 5px 15px;
}

tr:nth-child(2n) {
    background-color: var(--secondary-color);
}

h1, h2, h3, h4, h5, h6 {
    margin: 7px 0;
    font-weight: 450;
    line-height: 1.2;
}

h1 {
    font-size: 40px;
}

h2 {
    font-size: 32px;
}

h3 {
    font-size: 24px;
}

header {
    padding: 7px 0;
    border-bottom: 1px solid grey;
}

footer {
    padding: 7px 0;
    margin-top: 7px;
    border-top: 1px solid grey;
}

header a + a {
    margin-left: 7px;
}

.table-wrapper {
    overflow: auto;
    padding-bottom: 7px;
}

img {
    max-width: 100%;
}

nav {
    cursor: default;
}