@font-face {
  font-family: "Source Serif 4";
  src: url("/SourceSerif4.woff2") format("woff2-variations");
  font-weight: 100 900;
}

body {
  font-family: "Source Serif 4";
  background-color: rgb(245, 245, 245);
}

a {
  color: inherit;
}

header a {
  width: 1024px;
  text-decoration: none;
}

.logo {
  font-size: 24px;
  font-weight: bold;
}

.content {
  width: 800px;
  margin: auto;
  font-size: 18px;
  line-height: 1.6;
}

.content table {
  text-indent: 0;
}

.content th {
  text-align: start;
}

h1 {
  font-size: 40px;
}

h3 {
  font-size: 24px;
}